{% extends 'base.html' %} {% block title %}Referral Detail - NZ Healthcare{%endblock %} {% block content %}
<table>
  <caption>Referral: {{ referral.patient.first_name }} {{ referral.patient.last_name }} - {{ referral.referral_date }}
  </caption>
  <tr>
    <th>Referral Date</th>
    <td>{{ referral.referral_date }}</td>
  </tr>
  <tr>
    <th>Related Patient</th>
    <td>{{ referral.patient.first_name }} {{ referral.patient.last_name }}</td>
  </tr>
  <tr>
    <th>Referrer Name</th>
    <td>{{ referral.referrer_name }}</td>
  </tr>
  <tr>
    <th>Referral Reason</th>
    <td>{{ referral.referral_reason }}</td>
  </tr>
</table>
<table style="width:50%;">
  <caption>Notes</caption>
  <th>Notes</th>
  <tr>
    <td>{{ referral.note }}</td>
  </tr>
  {% if referral.document %}
  <a href="{% url 'view_document' referral.id %}" target="_blank">
    <button>View Document</button>
  </a>
  {% endif %}
  {% endblock %}