<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}NZ Healthcare{% endblock %}</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="NZ Healthcare Logo" />
        <h1>NZ Healthcare</h1>
        
    </header>

    <nav>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'patient_list' %}">Patients</a>
      <a href="{% url 'referrals_list' %}">Referrals</a>
      <a href="{% url 'admin:index' %}">Admin Login</a>
    </nav>

    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>©NZ Healthcare, 2023</p>
    </footer>
  </body>
</html>
