{% extends 'base.html' %} {% block title %}Patients - NZ Healthcare{%endblock%} {% block content %}
<h1>Patients</h1>
<button onclick="window.location.href='{% url 'add_patient' %}'">Add Patient</button>
<table>
  <tr>
    <th>Name</th>
    <th>Phone Number</th>
  </tr>
  {% for patient in patients %}
    <tr onclick="window.location.href='{% url 'patient_detail' patient.id %}'"; style="cursor: pointer;">
      <td>
        <p>
            {{ patient.last_name }}, {{ patient.first_name }}
        </p>
      </td>
      <td>{{ patient.phone_number }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
