{% extends 'base.html' %} {% block title %}{{ patient.first_name }}
{{patient.last_name }} - NZ Healthcare{% endblock %} {% block content %}
<h1>{{ patient.first_name }} {{ patient.last_name }}</h1>
<table>
  <tr>
    <th>Phone Number</th>
    <td>{{ patient.phone_number }}</td>
  </tr>
  <tr>
    <th>Date of Birth</th>
    <td>{{ patient.date_of_birth }}</td>
  </tr>
</table>

<table style="width:50%;">
  <tr>
    <th>Referrals</th>
  </tr>
  {% for referral in referrals %}
  <td onclick = "window.location.href='{% url 'referral_detail' referral.id %}'" style="cursor: pointer;">
    <p> {{ referral.referral_date }} - {{ referral.referrer_name }} </p>
  </td>
  {% endfor %}
  {% if referrals.count == 0 %}
  <td>
    <p> No referrals </p>
  </td>
  {% endif %}
</table>
<button onclick="window.location.href='{% url 'add_referral' patient.id %}'">
  Add Referral
</button>
{% endblock %}
