{% extends 'base.html' %} {% block title %}Referrals List - NZ Healthcare{% endblock %} {% block content %}
<h1>Referrals List</h1>
<button onclick="window.location.href='{% url 'add_referral' %}'">Add Referral</button>
<table>
  <tr>
    <th>Name</th>
    <th>Referral Date</th>
  </tr>
  {% for referral in referrals %}
  <tr onclick="window.location.href='{% url 'referral_detail' referral.id %}'" style="cursor: pointer;">
    <td> {{ referral.patient.last_name }}, {{ referral.patient.first_name }} </td>
    <td> {{ referral.referral_date }} </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
