{% extends 'base.html' %} {% block title %}Referral Detail - NZ Healthcare{%endblock %} {% block content %}
<h1>Referral Detail</h1>
<div class="referral-info">
  <p>Referral Date: {{ referral.referral_date }}</p>
  <p>Related Patient: {{ referral.patient.first_name }} {{ referral.patient.last_name }}</p>
  <p>Referrer Name: {{ referral.referrer_name }}</p>
  <p>Referral Reason: {{ referral.referral_reason }}</p>
</div>
<div class="referral-content">
<p>Note: {{ referral.note }}</p>
{% if referral.document %}
<button onclick="window.open('{{ referral.document.url }}', '_blank')">View Document</button>
{% endif %}
</div>
{% endblock %}
